app-navigation {
    position: fixed;
    top: 0;  
    left: 10%;
    width: 80%; 
    z-index: 1000; 
    background-color: white; 
  }
  
  app-search {
    position: fixed;
    top: 50px; 
    left: 0;
    width: 100%;
    z-index: 999; 
    background-color: white;
  }


  