/* Для навигации */
app-navigation {
    position: fixed;
    top: 0;  /* Закрепляем компонент к верхней части экрана */
    left: 10%;
    width: 80%; /* Можно настроить ширину */
    z-index: 1000; /* Убедитесь, что компонент будет поверх других */
    background-color: white; /* Пример фона для визуализации */
  }
  
  /* Для поиска */
  app-search {
    position: fixed;
    top: 50px; /* Под навигацией */
    left: 0;
    width: 100%;
    z-index: 999; /* Или выше/ниже, в зависимости от предпочтений */
    background-color: white;
  }


  